* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  margin: 50px auto 50px auto;
}

.form-heading {
  font-size: 35px;
  text-align: center;
}

.table-container{
  margin-top: 50px;
}

.display-main {
  position: absolute;
  width: 90%;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%);

}

.textfield{
  width: 35px;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px #808080;
}

.form-group{
  padding: 10px !important;
}

.form-label{
  margin-top: 10px;
}

.form-radio-label{
  display: flex !important;
  gap: 5px !important;
}